<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Form</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
  </head>
    <body>
         {% if request.session.peek_flash()%}
      <div id="flash">
         {% for message in request.session.pop_flash() %}
         <p>{{ message }}</p>
         {% endfor %}
      </div>
        {% endif %}
       <form method="POST" action="{{ request.route_url('create') }}">
       <p>Student Id: <input type="text" name="id"/> </p>
       <p>student Name: <input type="text" name="name"/> </p>
       <p>Percentage: <input type="text" name="percent"/> </p>
       <p><input type="submit" value="Submit"> </p>
        </form>
    </body>
</html>
