<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Form</title>
    <link rel="stylesheet" type="text/css" href="{{ request.static_url('application:static/style.css') }}">
  </head>
  <body>
    <form method="POST" action="{{ request.route_url('list') }}">
      <p>Student Id: <input type="text" name="id"/></p>
      <p>Student Name: <input type="text" name="name"/></p>
      <p>Percentage: <input type="text" name="percent"/></p>
      <p><input type="submit" value="Submit"></p>
    </form>
  </body>
</html>
